---
layout: review
---

<!DOCTYPE html>
<html>
  {% include head.md %}
  <style>
   .hidden {
     display: none;
   }
  </style>
  <body class="wrapper page">
      {% include nav.md min=false %}
    <div id="content" tabindex="-1">
      <div id="review-page-header" style="display:none">
      {% include modules/page_header_review.md %}
      </div>
      <div id="review-agent-header" class="review-agent-header text-center ">
      </div>
      <div id="review-confirmed-header" class="review-confirmed-header hidden text">
        <div class="text-center page-header-review">
                <h1>{{page.confirmation.header}}</h1>
            <div class="row grey-backround app-feature">
                <div class="col-md-4 text-contain offset-md-2 mt-auto mb-auto text-left">
                  <h2>{{page.confirmation["heading"]}}</h2>
                  <p>Compare your local agents sales history, including average sale price and properties sold relevant to your property type and location. <span class="bolder">Agent fees are upfront</span>, giving you the most comprehensive, unbaised and transparent view of your local agents. </p>
                  <input type="submit" value="Start searching, smarter" class="hidden-sm-down button primary big" /><span class="hidden-sm-down primary-label">100% free for sellers</span>
                </div>
                <div class="col-md-6 img-contain" style="padding:0">
                  <img src="{{page.confirmation.image.file}}" alt="{{page.confirmation.image.alt}}" class="wow fadeInUp img-responsive">
                </div>
              </div>
            </div>
          <div class="container large-margin-top steps-section">
              <h2 class="text-center">How it works</h2>
              <div class="row d-flex justify-content-center">
                <div class="col-xs-12 pt-5 col-lg-3 one-step text-center wow fadeInUp">
                  <div class="step-number">
                    <img src="/assets/img/anon-brief.png" alt="Anonymous brief" />
                  </div>
                  <h6>1. Create your anonymous brief</h6>
                  <p class="mt-3">Tell us about you, your property and what you’re looking for in an agent</p>
                </div>
                <img class="hidden-sm-down right-arrow" src="/assets/img/proc-arrow.png" alt="Right arrow pic" />
                <div class="col-xs-12 pt-5 col-lg-3 one-step text-center wow fadeInUp" data-wow-delay="0.3s">
                  <div class="step-number">
                    <img src="/assets/img/prop-agents.png" alt="Connect agents" />
                  </div>
                  <h6>2. Receive proposals from experts</h6>
                  <p class="mt-3">Determine which agent specialises in your area, with properties just like yours.</p>
                </div>
                <img class="hidden-sm-down right-arrow" src="/assets/img/proc-arrow.png" alt="Right arrow pic" />
                <div class="col-xs-12 pt-5 col-lg-3 one-step text-center wow fadeInUp" data-wow-delay="0.6s">
                  <div class="step-number">
                    <img src="/assets/img/connect-agent.png" alt="Select agents"/>
                  </div>
                  <h6>3. Connect with your ideal agent</h6>
                  <p class="mt-3">Whether you have a studio apartment or large family home, we’ve got you covered.</p>
                </div>
              </div>
            </div>
            <div class="mb-5 pb-5 mt-5 pt-5 testimonial-review regular-container">
                <h2 class="mt-5 text-center">What your neighbours say about HeyAgents.com.au</h2>
                <div class="slider-container">
                  <div class="slider-testimonials medium-margin-top">
                    <div class="one-testimonial-slide">
                      <img src="/assets/img/review-order.png" alt="Review couple" class="hidden-sm-down" />
                      <img src="/assets/img/home-page-order-mob.png" alt="Review couple mob" class="hidden-md-up" />
                      <div class="testimonial-text-box">
                        <p class="big-quote">"We have sold many times in the past. Hey Agents provided peace of mind and the control we were always looking for."</p>
                        <p class="pt-3 testimonial-author">Susan & Albert - Newcastle</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grey-backround text-center share-it-section container-fluid" style="background:#f1f1f1;">
                <h2 class="mt-5">{{page.confirmation.sharing}}</h2>
                <p class="m-auto mb-5 mt-4">{{page.confirmation["sharing quote"]}}</p>               
                <!-- Go to www.addthis.com/dashboard to customize your tools -->
                <div class="addthis_inline_share_toolbox"></div>
              </div>
              <div class="review-footer text-center container-fluid">
                  <input type="text" class="hidden-sm-down" placeholder="Enter your email" />
                  <input type="text" class="hidden-sm-down" placeholder="Enter your address" />
                  <input type="submit" value="Get free property report" class="property-report-btn button primary" />
                  <img src="/assets/img/screenshot-app.png" alt="App screenshot">
              </div>
        </div>
      </div>
      <section class="review-body-section">
        <div class="container">
          <div class="row review-body">
            <div class="col-12 col-md-8 offset-md-2 text-center">
              <div class="step" data-progress="10" data-step="1">
                {% if page.steps[0].text %}
                  <p class="mt-3">{{page.steps[0].text}}</p>
                {% endif %}
                <form class="row mt-3" id="agentreview1" novalidate>
                    <div class="col-12 form-group">
                        <input type="text" class="form-control address_autocomplete" name="address" placeholder="Sold property address" required>
                        <p class="notification" style="color:#F00"></p>
                      </div>
                      <div class="col-12 form-group agent-name hidden">
                          <input type="text" class="form-control" name="agent_name" placeholder="Your agents full name" required>
                          <input type="hidden" name="domainAgentId">
                      </div>
                      <input type="hidden" name="agentreviewstep" value="1">
                      <div class="m-auto col-12 row">
                          <div class="form-group m-0 col-12">
                            <div class="align-items-center hidden agent-card">
                            </div>
                          </div>
                      </div>
                      <div style="width:100%" class="m-auto row">
                        <div class="align-items-center col-12 my-3">
                          <input type="submit" class="btn btn-primary px-5 py-2" style="border-radius:3px" value="{{page.steps[0].cta}}" disabled>
                        </div>
                      </div>
                </form>
              </div>
              <input id="street_number" type="hidden">
              <div class="mt-3 step hidden" data-step="2" data-progress="40">
                {% if page.steps[1].text %}
                  <p class="mt-3">{{page.steps[1].text}}</p>
                {% endif %}
                <form class="mt-3" id="agentreview2">
                  <div class="row agent-skill-forms">
                    {% for skill in page["reviewable qualities"] %}
                    <div class="form-group col-12 col-md-12 agent-skill">
                      <div class="row">
                        <div class="col-xl-7 text-left">
                          <div>
                            <h6>{{skill.title}}</h6>
                          </div>
                          {% if skill.description %}
                          <div>
                            <p>{{skill.description}}</p>
                          </div>
                          {% endif %}
                        </div>
                        <div class="col-xl-5">
                          <fieldset class="{{skill.api_id}}_rating rating">
                            {% for i in (1..5) reversed %}
                                <input id="{{skill.api_id}}_star{{i}}" class="rating_input" type="radio" name="{{skill.api_id}}" value="{{i}}" required />
                                <label for="{{skill.api_id}}_star{{i}}">★</label>
                            {% endfor %}
                          </fieldset>
                        </div>
                      </div>
                      <hr/>
                    </div>
                    {% endfor %}
                    <div class="form-group col-12 bg-white overall-rating-container">
                      <label class="d-block"><strong>Your Overall Rating of <span class="replace-agent-name">this agent</span></strong></label>
                      <div class="overall-rating">
                        <div class="overall-rating-top" style="width: 0%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                        <div class="overall-rating-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
                      </div>
                      <div class="d-inline-block overall-rating-numeric">
                        <span class="rating-replace"></span>
                      </div>
                    </div>
                  </div>
                  <input type="hidden" name="agentreviewstep" value="2">
                  <div class="row my-4">
                    <div class="form-group text-center col-12">
                      <input type="submit" class="btn btn-primary px-5 py-2" value="{{page.steps[1].cta}}">
                    </div>
                  </div>
                </form>
              </div>
              <div class="mt-5 step hidden" data-step="3" data-progress="70">
                <h2>{{page.steps[2].header}}</h2>
                {% if page.steps[2].text %}
                  <small class="mt-3">{{page.steps[2].text}}</small>
                {% endif %}
                <form class="mt-3" id="agentreview3">
                    <div class="form-group">
                      <label for="note" class="sr-only">Your review</label>
                      <textarea rows="8" maxlength="4000" class="form-control" name="note"></textarea>
                    </div>
                  <div class="row mb-4">
                    <div class="col-12 text-left">
                      <small>See <a tabindex="0" role="button" class="popover-trigger" data-toggle="popover" data-placement="top" data-content="{{page['example review']}}" data-trigger="focus">an example of a review</a></small>
                    </div>
                  </div>
                  <input type="hidden" name="agentreviewstep" value="3">
                  <div class="row my-4">
                    <div class="form-group text-center col-12">
                      <input type="submit" class="btn btn-primary px-5 py-2" value="{{page.steps[2].cta}}">
                    </div>
                  </div>
                </form>
              </div>
              <div class="step hidden" data-step="4" data-progress="90">
                <p class="my-4">{{page.steps[3].header}}</p>
                <form class="mt-3 social-login" id="agentreview4" novalidate data-submitfunction="reviewAgent">
                  <div class="row">
                    <div class="col-12 text-center my-2">
                      <button id="google-login-button" class="btn btn-google">
                        <i class="fa fa-google fa-lg"></i>
                        Verify with Google
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center my-2">
                      <button id="fb-login-button" class="btn btn-facebook">
                        <i class="fa fa-facebook-official fa-lg"></i>
                        Verify with Facebook
                      </button>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12 text-center my-2">
                      <button id="linkedin-login-button" class="btn btn-linkedin">
                        <i class="fa fa-linkedin fa-lg"></i>
                        Verify with LinkedIn
                      </button>
                    </div>
                  </div>
                  {% if page.steps[3].text %}
                  <div class="row">
                    <div class="col-md-6 offset-md-3 my-2">
                      <i class="fa fa-lock"></i>
                      <small class="mt-3">{{page.steps[3].text}}</small>
                    </div>
                  </div>
                  {% endif %}
                  <input type="hidden" name="reviewerEmail">
                  <input type="hidden" name="reviewerFirstName">
                  <input type="hidden" name="reviewerLastName">
                  <input type="hidden" name="agentreviewstep" value="4">
                  <div class="row my-4">
                    <div class="form-group text-center col-12">
                      <input type="submit" class="hidden btn btn-primary px-4 py-2" value="{{page.steps[3].cta}}" disabled>
                    </div>
                  </div>
                </form>
              </div>
            </div>
        </div>
      </section>
    </div>
    {% include foot.md %}
    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5ac5edd025129e94"></script>
    <script src="https://cdn.auth0.com/js/auth0/8.10.1/auth0.min.js"></script>
    <script src="/assets/scripts/review.js"></script>
  </body>
</html>
